

.display-data {
    min-height: 100svh;
    background-color: hsl(0, 0%, 25%);
}

.display-data-navbar {
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10svh;
    width: 100svw;
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 95%);
}

.nav-element {
    height: 100%;
    padding: 0 2.5svw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.25rem;
    cursor: pointer;
}

.display-data-content{
    height: 90svh;
    width: 100svw;
    padding: 5svh 13svh 5svh 10svh ;
    overflow-y: auto;
    font-size: 1.1rem;
    color: hsl(0, 0%, 100%);
    line-height: 1.25;
    letter-spacing: 1.10px;
}

.display-data-content-header {
    font-size: 1.3rem;
    padding: 6svh 0 ;
    text-align: left;
}

